.art_title {
    font-size: 25px;
    font-weight: bold;
    background-color: #fcb97e;
    width: 100px;
    text-align: center;
    padding: 3px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.art_content {
    font-size: 25px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.art_content xmp {
    font-size: 20px;
}

.art_preview {
    width: 1000px;
    height: 500px;
    background-color: #ffffff;
    margin-bottom: 20px;
    margin-left: 20px;
}

.art_try {
    background-color: #f58905;
    margin-left: 120px;
    
}

a {
    text-decoration: none;
    color: #421e1e;
}

.art_title_code {
    float: left;
}
