.cat_art {
    width: 350px;
    height: 300px;
    float: left;
    margin-right: 25px;
    margin-bottom : 5px; 
}

.cat_art .cat_art_img {
    width: 100%;
    height: 66.6%;
    background-color: #fcb97e;
    border-radius: 10px;
}

.art_img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
}

.cat_art .cat_art_title {
    width: 100%;
    height: 14%;
    padding-left: 10px;
    padding-top: 5px;
}

.cat_art .cat_art_title a {
    color: #381902;
    text-decoration: none;
    font-size: 35px;
}

.cat_art .cat_art_title:hover {
    cursor: pointer;
}

.cat_art .cat_art_info {
    font-size: 15px;
    color: #381902;
    width: 100%;
    height: 14.4%;
    padding-left: 10px;
}

.new {
    position: fixed;
    background-color: #66401c;
    text-align: center;
    left: 90%;
    top: 82%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: none;
    font-size: 85px;
    color: #d69e69;
    z-index: 1000000000;
}

.new:hover {
    background-color: #d69e69;
    color: #66401c;
    cursor: pointer;
}