.art_title {
    font-size: 25px;
    font-weight: bold;
    background-color: #fcb97e;
    width: 100px;
    text-align: center;
    padding: 3px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.art_content {
    font-size: 25px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.art_content xmp {
    font-size: 20px;
}

.art_preview {
    width: 1000px;
    height: 500px;
    background-color: #ffffff;
    margin-bottom: 20px;
    margin-left: 20px;
}

.art_title_s {
    background-color: #f58905;
    margin-left: 120px;
/*    float: left;*/
}

.art_title_s:hover {
    cursor: pointer;
}

.art_title_f {
    float: left;
}

.CodeMirror {
    z-index: 999;
    border: 1px solid #eee;
    height: 300px;
    font-size: 20px;
}

.art_content input,
.art_content textarea, 
.art_content select {
    height: 30px;
    width: 1000px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    resize: vertical;
    padding-left: 10px;
}

.art_content select {
    width: 100px;
    text-align: center;
}

.art_content textarea {
    height: 300px;
}

input[type='file'] {
/*    opacity: 0;*/
    z-index: 99;
    font-size: 15px;
    padding-left: 15px;
}

.upload {
    position: fixed;
    background-color: #66401c;
    text-align: center;
    left: 90%;
    top: 82%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: none;
    font-size: 85px;
    color: #d69e69;
    z-index: 1000000000;
}

.upload:hover {
    background-color: #d69e69;
    color: #66401c;
    cursor: pointer;
}

.aaa {
    width: 400px;
    text-align: left;
    padding-left: 15px;
}