/*main*/
body {
    background-color: #fff7de;
    padding: 0;
    margin: 0;
    top: 0;
}

/*top*/
#index-top {
    z-index: 1000000;
    text-align: center;
    background-color: #998877;
    height: 180px;
    width: 100%;
    position: fixed;
}

#index-top h1 {
    font-size: 70px;
    margin: 0;
    padding-top: 10px;
}

#index-top h2 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*第一層*/
ul.drop-down-menu {
    border: 1px solid #eeeeee;
    display: inline-block;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    z-index: 1000;
}

ul.drop-down-menu li {
    position: relative;
    white-space: nowrap;
    border-right: 1px solid #eeeeee;
}

ul.drop-down-menu > li:last-child {
    border-right: none;
}

ul.drop-down-menu > li {
    float: left;
}

ul.drop-down-menu a {
    background-color: #ffffff;
    color: #333333;
    display: block;
    padding: 0 30px;
    text-decoration: none;
    line-height: 40px;
}

ul.drop-down-menu li:hover > a {
    background-color: #ef5c28;
    color: #ffffff;
}

/*第二層*/
ul.drop-down-menu ul {
    border: 1px solid #cccccc;
    position: absolute;
    left: -1px;
    top: 100%;
    min-width: 180px;
}

ul.drop-down-menu ul li {
    border-bottom: 1px solid #cccccc;
}

ul.drop-down-menu ul li:last-child {
    border-right: none;
}

/*隱藏第二層選單*/
ul.drop-down-menu ul {
    display: none;
}

/*展開第二層選單*/
ul.drop-down-menu li:hover > ul {
    display: block;
}


/*left*/
#index-left {
    margin-top: 180px;
    padding: 0;
    width: 250px;
    height: 100%;
    float: left;
    overflow: auto;
    position: fixed;
    background-color: #a1854d;
}

.left-form {
    margin: 10px;
    font-size: 25px;
    color: #ffffff;
}

.left-form form {
    
}

.left-form input[type='text'],
.left-form input[type='password'] {
    font-size: 20px;
    width: 90%;
    height: 25px;
    padding-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}


.left-form input[type='submit'] {
    font-size: 15px;
    font-weight: bold;
    height: 25px;
    border: 2px solid #ffffff;
    background-color: #fff9ed;
    color: #3b200b;
    margin-top: 10px;
    margin-left: 68%;
    margin-bottom: 10px;
}

.login-register {
    font-size: 15px;
    color: #000000;
}

.login-register a {
    color: #091c52;
    font-size: 18px;
    text-decoration: none;
}


.login-failed {
    margin: 10px;
    color: #ffe3e3;
}

/*right*/
#index-right {
    width: auto;
    float: left;
    margin-left: 320px;
    margin-top: 220px;
}
