body {
    overflow: hidden;
}

#editorWrapper {
    position: absolute;
    top: 23%;
    left: 3%;
    height: 85%;
    width: 46%;
    font-size: 20px;
}

#editor {
    height: inherit;
    widows: inherit;
}

#iframeWrapper {
    position: absolute;
    top: 23%;
    left: 52%;
    height: 85%;
    width: 67%;
}

#iframe {
    height: inherit;
    width: inherit;
    border: 1px solid #000000;
    background-color: #ffffff;
}

.CodeMirror {
    border: 1px solid #eee;
    height: inherit;
}

#run {
    position: absolute;
    background-color: #66401c;
    left: 42%;
    top: 82%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: none;
    font-size: 30px;
    color: #d69e69;
    z-index: 1000000000;
}

#run:hover {
    background-color: #d69e69;
    color: #66401c;
    cursor: pointer;
}